// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F2F2F2;
$black: #000000;
$white: #FFFFFF;
$greyish: #e7e6e1;
$beige: #f7f6e7;
$orangeish: #f2a154;
$dirty-green: #314e52;
$sienna: #91472F;
$dark-slate-gray: #243746;
$silver: #C9C0B8;
$blackish: #040404;
$dark-olive-green: #58413A;
