<div class="container">
  <h1>Create a suit</h1>

  <div class="form">
    <%= render "form", suit: @suit %>
  </div>

  <div class="navigation">
    <p><%= link_to 'Back', suits_path %></p>
  </div>
</div>
