<!-- create a header and add a nav bar -->
<div class="form">
  <%= render "form", suit: @suit %>
</div>

<div class="navigation">
  <p><%= link_to 'Back', suits_path %></p>
</div>
<!-- add a footer -->
