<body>
  <div class="banner">
    <div class="container">
      <h1 class="shadowed">SuitsYou</h1>
      <p class="shadowed">Suits for days.</p>
    </div>
  </div>

  <div class="container">
    <div class="cards">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1547508446-e097049cade7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Weddings</p>
        </div>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1610419923009-f0a50c304f10?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Murder Parties</p>
        </div>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1596822616930-659224597979?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1049&q=80" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Funerals</p>
          </div>
        </div>
        <div class="card">
        <img src="https://images.unsplash.com/photo-1597871107021-82020b3a44c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Business trips</p>
        </div>
        </div>
      </div>
    </div>
</body>
