.btn-orange {
  background-color: $orangeish;
  color: $white;
  border-radius: 2px;

  &:hover {
  background-color: $sienna;
  color: $white;
  }
}

.btn-gray {
  background-color: #243746;
  color: $white;
  border-radius: 2px;
  margin-right: 10px;

  &:hover {
  background-color: #497075;
  color: $white;
  }
}

// #back-button {
//   margin: 8px;
//   position: center;
//   padding: 8px;
// }
