.btn-orange {
  background-color: $orangeish;
  color: $white;
  border-radius: 5px;

  &:hover {
  background-color: $sienna;
  color: $white;
  }
}

.btn-gray {
  background-color: $dark-slate-gray;
  color: $white;
  border-radius: 5px;
  margin-right: 10px;

  &:hover {
  background-color: #497075;
  color: $white;
  }
}

