.card {
  // display: grid;
  // grid-template-columns: 300px 300px 300px 300px;
  // grid-gap: 50px;
  // justify-content: center;
  align-items: center;
  // height: 100vh;
  // width: 300px;
  padding: 20px;

  .card-title {
    display: flex;
    // margin: 54px;
    text-align: center;
    // padding: 32px;
    justify-content: space-around;
    // overflow: auto;
    align-items: flex-end;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    h5 {
      color: $dirty-green;
    }
    p {
      color: $orangeish;
    }
  }

  img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
}


// @media(max-width: 992px) {
//   .card {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media(max-width: 768px) {
//   .card {
//     grid-template-columns: 1fr;
//   }
// }
