.navbar-lewagon {
  justify-content: space-between;
  background: $greyish;
  display: flexbox;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas {
  color: $orangeish;
}

.avatar {
  border: 2px solid $orangeish;
}

.dropdown-item {
  border: 1px solid $greyish;
}

.form-control {
  // align-items: right;
}

.logo-text {
  color: black;
}

.main-logo a {
  text-decoration: none !important;
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
